.card-full {
    min-height: 80vh;
}

.sub-text {
    color: #ccc;
}

.item {
    width: 100%;
    height: 100%;
    min-height: 162px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.item .layer {
    width: 100%;
    height: 100%;
    background-color: #0004;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    transition: all .3s linear;
    align-items: flex-start;
}

.delete_btn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    background: #0d0d0d94;
    fill: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    z-index: 23;
    border: 3px solid #656565;
    opacity: 0;
    transition: all .3s linear;
}

.delete_btn:hover {
    border-color: #ff5353;
    background-color: #ff5353;
}

.item .layer:hover {
    background-color: #0009;
}

.item .layer:hover .delete_btn {
    opacity: 1;
}

.item .item-text h3 {
    font-size: 13px;
}

.error {
    font-size: 10px;
    margin-top: 10px;
    color: #ff6c6c;
}

/* Switcher */

.onoffswitch {
    position: relative; width: 56px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 12px; color: black; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 6px;
    background-color: #3AC5C9; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 6px;
    background-color: #E85764; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 12px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 30px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


.feature-txt {
    font-size: 10px;
    color: #ccc;
}

.section_title {
    font-size: 13px;
}

/* Select 2 */

.select2-container .select2-selection--single {
    height: 40px !important;
    display: flex !important;
    align-items: center;
}

.select2-selection__rendered {
    display: flex !important;
    justify-content: center !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px !important;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}


/* Details */

.details_name {
    font-size: 10px;
    color: #ccc;
}