/*============================================================================================*/
/* Secoundry Nav */
/*============================================================================================*/
.secondary_nav {
    position: sticky;
    top: 80px;
    background: #fff;
    z-index: 100;
}
.price_tab {
    display: flex !important;
}

.nice-select  ul {
    display: flex;
    flex-direction: column;
}
/*============================================================================================*/
/* Isotope Wrapper */
/*============================================================================================*/

.search_more {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 33px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite .95s linear;
    -moz-animation: circle infinite .95s linear;
    -o-animation: circle infinite .95s linear;
    animation: circle infinite .95s linear;
    border: 2px solid #fc5b62;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

.btn_1 {
    padding: 10px;
}
.load_text {
    transition: all .3s linear !important;
}

/* Navbar */
.local_title {
    display: block;
    top: -8px;
    right: -3px;
    margin: -8px 12px;
    font-size: 12px;
    font-weight: bold;
}

.currency_symbol {
    width: 14px;
    color: #fff;
}

.dest_img {
    height: 330px !important;    
}

.sub_menu {
    position: absolute;
    top: 31px;
    background: #fff;
    color: wi;
    width: 100px;
    left: -23px;
    border-radius: 3px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.sub_menu:before {
    bottom: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 7px;
    margin-left: 19px;
}

.dropdown_nav {
    height: 44px;
}

.dropdown_nav:hover .sub_menu,
.sub_menu:hover {
    visibility: visible;
    opacity: 1;
}

.sub_menu li {
    margin: 7px 0 !important;
}

.sub_menu li .flag {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.sub_menu a {
    color: #333 !important;
    padding: 5 10px;
    font-size: 12px;
    font-weight: bold;
}

/* TripAvisor */

.WidgetTitle__Header-sc-ruy1gu-2 {
    display: none;
}

.trip {
    background-color: var(--blue);
}

.ReviewPostedOn__Name-sc-1s508wm-6.gpqccp {
    color: #333;
}

/* Wrapper */
.wrapper_container {
    min-height: 50vh;
}

/* Video Container */
.video-container{
    width:100%;
    height:100vh;
    overflow:hidden;
    position:relative;
    overflow: hidden;
}
  
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container iframe {
    pointer-events: none;
}
.video-container iframe{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: calc(100% + 120px);
}
.video-foreground{
    pointer-events:none;
}
  
/* Menu */
.navbar_small {
    width: 100%;
    left: 0;
    position: absolute;
    top: 57px;
    transition: all 0.35s ease-out !important;
    visibility: hidden;
    height: auto;
    opacity: 0;
    top: 80px;
}

.navbar_small.open {
    visibility: visible;
    opacity: 1;
    top: 57px;
}

.navbar_small ul {
    display: block;
    width: 100%;
    background: #f8f8f8;
    top: 10px;
    padding: 0;
    left: 0;
    padding: 17px;
}

.navbar_small ul li {
    padding: 10px 0;
}

.navbar_small ul li a{
    font-size: 11px;
    font-weight: bold;
    color: #333 !important;
}

header .dark {
    display: none;
}

header.sticky .dark {
    display: block;
}

header.sticky .light {
    display: none;
}

/* Banner */
.banner {
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: 100% 100% !important;
    background-size: cover !important;
} 


